################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CharsInTextHW/.vs/CharsInTextHW/v16
/CharsInTextHW/CharsInTextHW/bin/Debug
/CharsInTextHW/CharsInTextHW/obj/Debug
/CharsInTextHW/CharsInTextHW/App.config
